.square {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}
.squareImage{
  position: relative;
  left: 110px;
  bottom: 100px;

  height: 250px;
  width: 250px;

  background-color: red;

  border-radius: 10px;
  border-style: solid;
  border-color: blue;

  background-repeat: no-repeat;
  background-image: url(https://media.cylex.us.com/companies/2977/4413/logo/logo.jpg);
}
.squareImage2{
  position: relative;
  left: 375px;
  bottom: 356px;

  height: 250px;
  width: 250px;

  background-color: red;

  border-radius: 10px;
  border-style: solid;
  border-color: green;

  background-repeat: no-repeat;
  background-image: url(https://media.cylex.us.com/companies/2977/4413/logo/logo.jpg);
}
.boxText{
  padding-left: 5px;
  padding-top: 2px;
  color: white;
  font-size: 20px;

}


.lit{
  background-color: #003300
}

.simonButton{
  border: black;
  font-size: 75px;
  padding: 100px 100px;
  float: left;
  border: 3px solid black;
  padding-bottom: 50px;
  color: white;
  font-family: Arial;
}

.greenSquareLit{
  background-color: #7BF962;
}
.redSquareLit{
  background-color: #FF8383;
}
.blueSquareLit{
  background-color: #27B3EC;
}
.yellowSquareLit{
  background-color: #FFE552;
}

.greenSquare{
  background-color: #3B9922;
}
.redSquare{
  background-color: #AE1B1B;
}
.blueSquare{
  background-color: #1B4EAE;
}
.yellowSquare{
  background-color: #B8B312;
}
